.vscode/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Editor Default Resources/
Library/
Packages/
ProjectSettings/
Temp/
firebase-unity-solutions.sln
obj/
omnisharp.json
Assets/Editor Default Resources/
Assets/Editor Default Resources.meta
Assets/Firebase/
Assets/Firebase.meta
Assets/Parse/
Assets/Parse.meta
Assets/PlayServicesResolver/
Assets/PlayServicesResolver.meta
Assets/Plugins/
Assets/Plugins.meta
Assets/StreamingAssets/
Assets/StreamingAssets.meta
